<template>
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h1>Balance: {{balance}}</h1>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Balance',
  components: {
  },
  data() {
    return {
      balance: null,
    };
  },
  mounted() {
    axios
      .get('http://localhost:3000/balance')
      .then((response) => {
        this.balance = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};

</script>

<style>
    .custom-margin {
        margin: 2%;
    }
</style>
