<template>
  <div class="card mar d-flex flex-row justify-content-between">
    <p class="text-capitalize">
      <span class="lead">Type
      </span>:
      <span :class="{'text-danger': !isCredit(transaction.type),
        'text-success': isCredit(transaction.type)}">{{ transaction.type }}</span>
    </p>
    <p><span class="lead">Amount</span>: {{ transaction.amount }}</p>

    <div class="fixed-width">
      <div class="accordion" id="ac2">
        <a @click="toggleShow()" data-toggle="collapse" data-parent="#ac2"
          :href="'#collapse-'+index">
          {{ toggleText }}
        </a>
        <div div :id="'collapse-'+index" class="panel-collapse collapse">
          <p><span class="lead">Id: </span> {{ transaction.id }}</p>
          <p><span class="lead">Status: </span>
            <span>{{ transaction.status }}</span> </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    transaction: {
      type: Object,
    },
    index: {
      type: Number,
    },
  },
  data() {
    return {
      toggleText: '',
    };
  },
  mounted() {
    this.toggleText = 'More';
  },
  methods: {
    toggleShow() {
      this.toggleText = this.toggleText === 'More' ? 'Less' : 'More';
    },
    isCredit(type) {
      if (type === 'credit') {
        return true;
      }
      return false;
    },
  },
};
</script>

<style>
    .mar {
        padding: 2%;
    }
    .fixed-width {
      width: 30%;
    }
</style>
