<template>
  <div>
    <div class="accordion" id="accordion">
      <div class="card custom-margin">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h1>Transactions List</h1>
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show"
        aria-labelledby="headingOne"
          data-parent="#accordion">
          <div class="d-flex flex-column-reverse">
            <Transaction v-bind:key="item"
            v-for="(item, index) in transactions" :transaction="item" :index="index" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Transaction from './Transaction.vue';

export default {
  name: 'TransactionList',
  components: {
    Transaction,
  },
  data() {
    return {
      transactions: null,
    };
  },
  mounted() {
    axios
      .get('http://localhost:3000/transactions')
      .then((response) => {
        this.transactions = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};

</script>

<style>
    .custom-margin {
        margin: 2%;
    }
</style>
