<template>
  <div id="app">
    <div class="jumbotron">
      <h1 class="display-4">Hello!</h1>
      <p class="lead">Welcome to my test application for the full stack web developer position.</p>
    </div>
    <Balance />
    <TransactionList />
  </div>
</template>

<script>
import TransactionList from './components/TransactionList.vue';
import Balance from './components/Balance.vue';

export default {
  name: 'App',
  components: {
    TransactionList,
    Balance,
  },
};
</script>

<style>

</style>
